# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution files (for PyPI)
dist/
build/
*.egg-info/

# Virtual environment folder
venv/
env/

# Environment variables file
.env

# MacOS system files
.DS_Store

